#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  border: 1px solid whitesmoke;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 200px;
  max-width: 200px;
}

article p{
  width: 200px;
  max-width: 200px; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal;
}

section{
  display: flex;
  flex-wrap: wrap ;
  gap: 10px ;
  justify-content: center;
  border : 2px solid whitesmoke ; 
  border-radius: 10px;
}

.FormSection{
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  max-width: 800px;
  width: 600px;
 
}

form{
  display: flex;
  flex-direction: column;
  width: 400px;
}


header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgb(65, 61, 65);
  color: whitesmoke;
  position: sticky;
  top: 0;
  border-radius: 20px;
}